* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --bg: #f5f5f5;
    --bg2: rgba(254, 254, 254, 0.9);
    --fg: #505050;
    --card-bg: #fefefe;
    --border: #b1b1b1c4;
    --button: rgb(231, 231, 231);
    --hover: rgb(218, 218, 218);
    --highlight: rgb(160, 160, 160);
    --shadow: rgba(0, 0, 0, 0.1);
    --error: rgb(255, 48, 48);
    --success: #388e3c;
    --info: #0a5cb4b5;
    --bg-gradient: linear-gradient(176deg,
            rgba(183, 183, 183, 0.7) 0%,
            rgba(204, 204, 204, 0.4) 55%,
            var(--hover) 96%);
}


[data-theme="dark"] {
    --bg: #121212;
    --bg2: rgba(44, 44, 44, 0.9);
    --fg: #dfdfdf;
    --card-bg: #2c2c2c;
    --border: #7373739e;
    --button: #454545;
    --hover: rgb(90, 90, 90);
    --shadow: rgba(255, 255, 255, 0.2);
    --bg-gradient: linear-gradient(176deg,
            var(--hover) 0%,
            rgba(90, 90, 90, 0.4) 55%,
            var(--hover) 96%);
    --logo-symbol-color: var(--card-bg);
}

body {
    display: flex;
    flex-direction: column;
    background: var(--bg);
    color: var(--fg);
    font-family: system-ui, sans-serif;
    font-size: medium;
    transition: background-color 0.3s, color 0.3s;
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    vertical-align: middle;
}

.small {
    width: 18px;
    height: 18px;
    fill: currentColor;
    vertical-align: middle;
}


.transition-03 {
    transition: all 0.3s ease-in-out;
}

.transition-05 {
    transition: all 0.5s ease-in-out;
}

.highlight {
    color: var(--highlight);
}

svg {
    width: 100%;
    height: 100%;
} 

.btn {
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 5px;
    color: var(--fg);
    background-color: var(--button);
    border: 1px solid var(--border);
    box-shadow: 0px 0px 3px 0px var(--shadow);
    -webkit-box-shadow: 0px 0px 3px 0px var(--shadow);
    -moz-box-shadow: 0px 0px 3px 0px var(--shadow);
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: var(--hover);
    box-shadow: 1px 1px 3px 0px var(--shadow);
    -webkit-box-shadow: 1px 1px 3px 0px var(--shadow);
    -moz-box-shadow: 1px 1px 3px 0px var(--shadow);
}

.btn svg {
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
}

/* Scroll nach oben Button */
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 15px;
    width: 40px;
    height: 40px;
    z-index: 999;
    background-color: transparent;
    color: var(--border);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
}

#scrollTopBtn.show {
    display: flex;
}

#scrollTopBtn svg {
    height: 100%;
    width: 100%;
}

/* Benachrichtigungs Fenster */
#statusMessage {
    position: absolute;
    top: 100%;
    display: flex;
    height: fit-content;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    box-shadow: 0 2px 6px var(--shadow);
    pointer-events: none;
    justify-content: center;
    transform: translateY(-500%);
    transition: all 0.5s ease-out;
}

#statusMessage.show {
    transition: transform 0.5s ease-in;
    transition: all 0.5s ease-in;
    transform: translateY(0);
}

#statusMessage.success {
    transition: transform 0.5s ease-out;
    background-color: #c8e6c9;
    color: var(--success);
    border: 1px solid var(--success);
}

#statusMessage.error {
    transition: transform 0.5s ease-out;
    background-color: #ffcdd2;
    color: var(--error);
    border: 1px solid var(--error);
}

#statusMessage.info {
    transition: transform 0.5s ease-out;
    background-color: #cde5ff;
    color: var(--info);
    border: 1px solid var(--info);
}

/* Kopfzeile */
header {
    position: sticky;
    inset: 0;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
}

header.hide {
    transform: translateY(-100%);
}

.headerContent {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background: var(--bg);
    padding: 3px;
    z-index: 500;
}

.logo-sm {
    display: flex;
    width: 120px;
    margin-right: auto;
    justify-content: left;
    cursor: pointer;
}

.logo-sm svg {
    max-height: 50px;
    width: 120px;
}

/* Eingaben */
.InputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}

.searchContainer {
    display: flex;
    width: 300px;
    height: 40px;
    border: 1px solid var(--border);
    border-radius: 20px;
    background: var(--card-bg);
    overflow: hidden;
    cursor: auto;
    align-items: center;
}

.autocomplete-wrapper {
    position: relative;
    display: flex;
    width: 100%;
}

.searchBox {
    max-width: 255px;
}

#searchInput,
#searchHint,
#typFilter,
#herstellerFilter {
    font-family: inherit;
    font-size: 1rem;
    padding-left: 1rem;
    height: 40px;
    background-color: var(--card-bg);
    color: var(--fg);
}


#searchInput,
#searchHint {
    padding: 0;
    width: 100%;
}

#searchHint {
    position: absolute;
    inset: 0;
    color: var(--hover);
    pointer-events: none;
    z-index: 0;
}

#searchInput {
    position: relative;
    background: transparent;
    z-index: 1;
}

#icon-search,
#herstellerFilter {
    border-bottom-left-radius: 20.8px;
    border-top-left-radius: 20.8px;
}

.icon-search {
    display: flex;
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
    justify-content: center;
    align-items: center;
}

.icon-search svg {
    max-height: 18px;
    max-width: 19px;
    opacity: 0.5;
}

#btnClearSearch,
#btnResetFilters {
    height: 30px;
    width: 30px;
    aspect-ratio: 1;
    background-color: var(--card-bg);
    border-radius: 50%;
    color: var(--error);
    border: none;
    box-shadow: none;
}

.searchContainer button,
.searchContainer button:disabled:hover {
    transform: rotate(0deg) scale(80%);
}

.searchContainer button:hover {
    transform: rotate(30deg) scale(100%);
}

#btnClearSearch svg,
#btnResetFilters svg {
    width: 20px;
}


button:disabled svg {
    opacity: 0.2;
    color: var(--fg);
    transition: all 0.2s ease-out;
}

button svg {
    transition: all 0.2s ease-in;
}

button:disabled {
    cursor: unset;
}

#herstellerFilter,
#typFilter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    flex-basis: 50%;
}

#typFilter {
    border-left: 1px solid var(--bg);
}

select:focus,
button {
    cursor: pointer;
    outline: none;
}

input:focus {
    outline: none;
}

#trefferAnzahl {
    display: flex;
    width: 120px;
    height: 30px;
    text-align: left;
    margin-right: auto;
    color: var(--border);
}

/* Hauptfenster */
.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 2px;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

/* Card */
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    background: var(--card-bg);
    border: 2px solid var(--border);
    border-radius: 1em;
    margin-bottom: 1em;
    width: 90vw;
    max-width: 1000px;
    min-width: 350px;
    min-height: 250px;
    overflow: hidden;
    box-shadow: 0 0px 5px var(--border);
    animation: fadeIn .7s ease;
    transition: all .7s;
}

/* Card - Kopfzeile */
.cardheader {
    display: flex;
    flex-wrap: nowrap;
    min-height: 40px;
    background: var(--bg-gradient);
    align-items: center;
    border-bottom: 1px solid var(--border);
    box-shadow: 0 1px 4px var(--shadow);
    padding: 2px;
}

.cardHeaderContent {
    flex: 1;
    height: 30px;
    margin: 0 0.3rem;
}

.btnMenuToggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--fg);
    background-color: transparent;
    box-shadow: none;
    border: none;
    overflow: hidden;
}

.btnMenuToggle:hover {
    background-color: var(--hover);
}

.herstellerImageContainer {
    margin: 0.2rem;
}

.herstellerImage {
    max-height: 30px;
    max-width: 120px;
}

.cardHeaderTyp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.2rem;
    justify-content: space-between;
}

.cardHeaderTyp :nth-child(2) {
    color: var(--error);
    font-weight: 600;
}


#homeMenuContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 250px;
    height: 100%;
    display: flex;
    border: 1px solid var(--border);
    background: var(--bg2);
    justify-content: space-between;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
}

.version {
    font-size: small;
    font-weight: 500;
    color: var(--border);
}

.versionContainer {
    display: flex;
    justify-content: right;
    gap: 1rem;
    padding: 0.1rem 0.7rem;
    background-color: var(--card-bg);
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.menu button,
.updateInfo button {
    display: flex;
    position: relative;
    height: 35px;
    margin: 0.25rem;
    border-radius: 0.5rem;
    padding: 0 35px;
}


.hide {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.show {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
}

.cardContent {
    position: relative;
    display: flex;
    min-height: 210px;
}


.homeContent {
    display: flex;
    padding: 1rem;
    width: 100%;
}

.logo-box {
    display: flex;
    flex-basis: 40%;
    align-items: flex-start;
    justify-content: center;
}

.homeText {
    flex-basis: 50%;
    padding: 1rem;
    margin: auto;
}

.typImageWrapper {
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 1em;
    padding: 1em;
    padding-bottom: 75px;
}

.typImage {
    max-width: 150px;
    max-height: fit-content;
    z-index: 1;
    background: var(--card-bg);
}

.errorDescription {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding: 1rem 0.5rem;
    justify-content: center;
}

.iconLine {
    display: flex;
    align-items: center;
    gap: 4px;
}

.errorDescription p {
    margin: 0 0 0 22px;
}

.errorDescription p img {
    margin-top: 5px;
}

.errorDescriptionItem:last-of-type {
    margin-top: auto;
}

.card h5,
.card h4,
.card h3,
.card a {
    margin: 3px 0;
}


.detailsContainer {
    font-size: 0.95em;
}

.detailsContainer h1,
h2,
h3 {
    margin: 0;
    padding: 0.5em 0 0 0.2em;
}

.detailsContainer p {
    margin-left: 0.5em;
}

.detailsContainer ul {
    margin-left: 1.7em;
    padding: 0 0 0.2em 0;
}

.detailsContainer h1 {
    font-size: 1.4em;
    text-align: center;
}

.detailsContainer h2 {
    font-size: 1.2em;
}

.detailsContainer h3 {
    font-size: 1.1em;
}

.topContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1em;
    justify-items: center;
}

.topContainer .textBoxSmall {
    flex: 3 2 400px;
    align-content: center;
}

.topContainer .typImageWrapper img {
    width: 200px;
    justify-self: center;
}

.updateInfo {
    display: flex;
    flex-wrap: wrap;
    min-height: fit-content;
    background: rgb(99, 156, 255);
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: 0.5rem;
    color: #ffffff;
    transition: all .5s ease;
}

.updateInfo p {
    font-weight: 600;
}

.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalHeader {
    position: sticky;
    display: flex;
    top: 0;
    background: var(--bg-gradient);
    justify-content: space-between;
    padding-left: 1rem;
}

.modalContent {
    display: flex;
    flex-direction: column;
    background: var(--card-bg, #fff);
    color: var(--fg, #000);
    max-width: 950px;
    max-height: 90%;
    border: 1px solid var(--border);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    scrollbar-color: var(--border) transparent;
}

.modalContent::-webkit-scrollbar-track {
    background-color: transparent;
}

.modalCloseBtn {
    display: flex;
    background: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0.2rem;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    cursor: pointer;
    color: var(--error);
}

.modalCloseBtn:hover {
    background-color: var(--hover);
}

.modalTitle {
    font-size: 1.5rem;
}

.modalHtmlContent {
    flex: 1;
    margin-bottom: 0.1rem;
    overflow: auto;
    padding: 0 1rem;
}

.modalHtmlContent img {
    max-width: 100%;
    height: auto;
}

.modalHtmlContent h1,
h2,
h3 {
    margin: 0.5rem 0;
    padding: 0;
}

.modalHtmlContent p {
    margin: 0.4rem;
}

.modalHtmlContent ul {
    margin: 0 1.7rem;
}

.typImageWrapper .imageOverlayText {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    height: 18px;
    margin: 0.05rem 1rem;
    background: #0000005e;
    color: #ffffff;
    padding: 0;
    font-size: 0.8em;
    text-align: center;
    border-radius: 5px;
    pointer-events: none;
    font-weight: 400;
    z-index: 100;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.typImageWrapper:hover .typinfos {
    transform: translateY(100%);
    opacity: 1;
}

.typImageWrapper:hover .imageOverlayText {
    transform: translateY(100%);
    opacity: 0;
}

.typImage {
    transition: all 0.5s ease;
}

.typImageWrapper.clickable:hover .typImage {
    transform: scale(1.1) translateY(-12px);
}

.typinfos {
    position: absolute;
    display: flex;
    gap: 3px;
    bottom: 75px;
    flex-direction: column;
    height: fit-content;
    width: 150px;
    transition: all 0.5s ease;
    padding: 3px;
    opacity: 0;
}

/* Splash-Screen Hintergrund */
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    animation: fadeOut_ 0.5s ease-out forwards;
    animation-delay: 2.2s;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    z-index: 9999;
}

#splash-logo {
    width: 400px;
    height: 122px;
    transform-origin: center;
    overflow: visible;
    animation: fadeIn 0.6s ease-in;
    color: var(--highlight);
    animation: si1 .8s ease-in-out ;
}

.loading-text {
    display: flex;
    font-weight: 800;
}

.loading-text span {
    animation: opacity 2s ease infinite alternate;
    color: var(--fg);
}

.loading-text span:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-text span:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-text span:nth-child(4) {
    animation-delay: 0.3s;
}

.loading-text span:nth-child(5) {
    width: .3rem;
}

.loading-text span:nth-child(6) {
    animation-delay: 0.4s;
}

.loading-text span:nth-child(7) {
    animation-delay: 0.5s;
}

.loading-text span:nth-child(8) {
    animation-delay: 0.6s;
}

.loading-text span:nth-child(9) {
    animation-delay: 0.7s;
}

.loading-text span:nth-child(10) {
    animation-delay: 0.8s;
}

.loading-text span:nth-child(11) {
    animation-delay: 0.9s;
}

.loading-text span:nth-child(12) {
    animation-delay: 1s;
}

.loading-text span:nth-child(13) {
    animation-delay: 1.1s;
}

.loading-text span:nth-child(14) {
    animation-delay: 1.2s;
}

.loading-text span:nth-child(15) {
    animation-delay: 1.3s;
}

#app {
    animation: fadeIn 0.7s ease-in;
    opacity: 1;
}

@keyframes si1 {

    0%{
        opacity: 0;
        scale: 1.8;
        rotate: 70deg;
    }
    60% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0.5;
    }
}

@keyframes animate {
    from {
        font-size: .5em
    }

    to {
        font-size: 1em
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes rotation {
    from {
        transform: rotate(-0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media (max-width: 650px) {

    body {
        font-size: 16px;
    }

    /* Benachrichtigungs Fenster */
    #statusMessage {
        position: absolute;
        top: 100%;
        border-radius: 0.5rem;
        text-align: center;
    }

    #statusMessage p {
        margin: 0.25rem;
    }

    .container {
        display: flex;
        min-height: fit-content;
        margin: 0;
        padding: 0 0.25rem;
    }

    header {
        display: flex;
        flex-direction: column;
        background: var(--bg);
        padding: 0.25rem;
        gap: 0.25rem;
    }

    .headerContent {
        display: flex;
        flex-direction: column;
    }

    .logo-sm {
        display: none;
    }

    .InputContainer,
    .searchContainer {
        display: flex;
        flex-basis: 100%;
        width: 100%;
    }

    .InputContainer {
        flex-direction: column;
        gap: 0.25rem;
    }

    .searchContainer {
        border-radius: 0.5rem;
    }

    .searchBox {
        max-width: none;
    }

    #trefferAnzahl {
        width: 120px;
        height: fit-content;
        justify-content: center;
        margin: 0;
        font-size: medium;
    }

    #btnClearSearch,
    #btnResetFilters {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }

    #searchInput,
    #searchHint,
    #herstellerFilter {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }

    .card {
        margin: 0 0.1rem;
        width: 100%;
        border-radius: 0.5rem;
    }


    .homeCard .cardContent {
        justify-content: center;
    }

    .homeCard {
        margin-top: 5rem;
    }

    .cardContent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0.5em;
    }

    .homeContent {
        flex-direction: column;
        padding: 0.3rem;
    }

    #homeMenuContainer {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .updateInfo {
        justify-content: center;
        text-align: center;
        padding: 0.5rem;
        gap: 0.25rem;
    }

    .updateInfo button {
        border-radius: 8px;
    }
}