@font-face {
    font-family: 'Caveat';
    src: url('fonts/Caveat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}

:root {
    --bg: #f5f5f5;
    --bg-2: rgba(219, 219, 219, 0.5);
    --fg: #676767;
    --logo-fg: rgb(255, 255, 255);
    --card-bg: #fefefe;
    --card-border: #b1b1b1c4;
    --button-bg: rgb(183, 183, 183);
    --button-bg-light: rgba(183, 183, 183, 0.25);
    --error: rgb(255, 48, 48);
    --success: #388e3c;
    --shadow: rgba(0, 0, 0, 0.1);
    --hover-bg: rgba(183, 183, 183, 0.4);
    --bg-gradient: linear-gradient(176deg,
            rgba(183, 183, 183, 0.7) 0%,
            rgba(204, 204, 204, 0.4) 55%,
            var(--hover-bg) 96%);
    --header-space: 4px;
    --card-content-space: 10px 0;
    --header-line-height: 30px;
}

[data-theme="dark"] {
    --bg: #121212;
    --fg: #dfdfdf;
    --logo-fg: #dfdfdf;
    --card-bg: #2c2c2c;
    --card-border: #7373739e;
    --button-bg: #454545;
    --button-bg-light: rgba(97, 97, 97, 0.5);
    --hover-bg: rgb(90, 90, 90);
    --shadow: rgba(255, 255, 255, 0.1);
    --bg-gradient: linear-gradient(176deg,
            var(--hover-bg) 0%,
            rgba(90, 90, 90, 0.4) 55%,
            var(--hover-bg) 96%);
}

/* Body */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    position: relative;
    background: var(--bg);
    color: var(--fg);
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    transition: background-color 0.5s, color 0.5s;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Kopfzeile */
header {
    position: sticky;
    inset: 0;
    z-index: 100;
    background: var(--bg);
    transition: transform 0.6s ease;
}

header.hide {
    transform: translateY(-100%);
}

.controls {
    display: flex;
    gap: var(--header-space);
    padding: var(--header-space);
}

/* Kopfzeile Links*/
.headerLeft {
    display: flex;
    flex-basis: 150px;
}

/* Kopfzeile Mitte*/
.headerCenter {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: var(--header-space);
    justify-content: center;
    align-items: center;
}

/* Kopfzeile  Rechts*/
.headerRight {
    display: flex;
    flex-basis: 50px;
}

/* Kopfzeile Links Inhalt*/
.logo {
    width: var(--header-line-height);
    height: var(--header-line-height);
}

.logoText {
    display: flex;
    flex-basis: 150px;
    flex-wrap: nowrap;
    font-weight: 600;
    font-size: large;
    align-self: center;
    justify-content: center;
}

/* Kopfzeile Mitte Inhalt*/
.headerCenter * {
    height: var(--header-line-height);
}

select,
input[type="text"] {
    padding: 0 calc(var(--header-line-height) / 2);
    font-size: 18px;
    border-radius: calc(var(--header-line-height) / 2);
    border: 1px solid var(--card-border);
    background-color: var(--card-bg);
    color: var(--fg);
}

input {
    flex-grow: 1;
}

input[type="text"] {
    flex: 1 0 0;
    max-height: calc(var(--header-line-height) - 2px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.selectContainer {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    flex-direction: row;
    max-height: var(--header-line-height);
    border: 2px solid var(--card-border);
    border-radius: calc(var(--header-line-height) / 2);
}

.searchContainer {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    flex-direction: row;
    max-height: var(--header-line-height);
    border: 2px solid var(--card-border);
    border-radius: calc(var(--header-line-height) / 2);
}

select.herstellerFilter {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
    border-right: 1px solid var(--card-border);
    flex: 1 1 0;
    justify-self: left;
}

select.typFilter {
    border-radius: 0px;
    border: none;
    flex: 1 1 0;
}

select option {
    background-color: var(--card-bg);
}

select option:checked,
select option:hover {
    background-color: var(--hover-bg);
}

select:focus,
button {
    cursor: pointer;
    outline: none;
}

input:focus {
    outline: none;
}

.btnResetFilters {
    display: flex;
    background-color: var(--button-bg-light);
    border: none;
    border-left: 1px solid var(--card-border);
    border-bottom-right-radius: calc(var(--header-line-height) / 2);
    border-top-right-radius: calc(var(--header-line-height) / 2);
    padding: 0 calc(var(--header-line-height) / 2);
    align-items: center;
    justify-content: center;
    transition: all 0.5 ease;
    color: var(--fg);
}

.btnResetFilters svg {
    height: 12px;
    width: 12px;
}

.btnResetFilters:hover {
    color: var(--error);
    background-color: var(--hover-bg);
}

/* Hauptfenster */
.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 2px;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

.homeCard .cardheader h3 {
    font-family: Caveat, sans-serif;
    font-size: 2em;
    color: var(--logo-fg);
    padding: 0;
    margin: auto;
}

.logoContainer img {
    width: 40px;
    height: 40px;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
    padding: 0;
    margin: 0 0 0 0.5em;
}

.homeCard .cardContent {
    display: flex;
    flex-direction: row;
    min-height: 200px;
    gap: var(--header-space);
    align-items: center;
}

.homeCard {
    margin: 0;
    transition: all 0.5s ease;
}

.menu-toggle {
    display: flex;
    padding: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: var(--fg);
    margin-left: auto;
    transition: background-color 0.3s ease;
}

.menu-toggle svg {
    height: 26px;
    width: 26px;
}

.menu-toggle:hover {
    background-color: var(--hover-bg);
}

.homeContent {
    flex-grow: 1;
    padding-right: 1rem;
    justify-items: center;
    align-items: center;
}

#homeMenuContainer {
    flex-grow: 1;
    max-width: 50%;
    display: none;
    padding-left: 1rem;
    border-left: 1px solid var(--card-border);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu button {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    color: var(--fg);
    background-color: var(--button-bg-light);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease;
}

.menu button svg {
    position: absolute;
    left: 1em;
    width: 20px;
    height: 20px;
}

#homeResetBtn {
    border: 1px solid var(--error);
}

#homeMenuContainer button:hover {
    background-color: var(--hover-bg);
    box-shadow: 0 0 4px var(--shadow);
}


/* Card */
.card {
    display: flex;
    flex-direction: column;
    background: var(--card-bg);
    border: 2px solid var(--card-border);
    border-radius: 1em;
    margin-bottom: 1em;
    width: 80vw;
    max-width: 800px;
    min-width: 350px;
    min-height: 200px;
    box-shadow: 0 0px 5px var(--shadow);
    transition: all 0.2s ease-in-out;
}

.card h5,
.card h4,
.card h3,
.card a {
    margin: 3px 0;
}

.card ul {
    margin: 0;
}

.card:hover {
    box-shadow: 0 0 1em var(--shadow);
}

/* Card - Kopfzeile */
.cardheader {
    display: flex;
    flex-wrap: wrap;
    background: var(--bg-gradient);
    padding: calc(var(--header-space) * 2);
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 1px solid var(--card-border);
    box-shadow: 0 1px 4px var(--shadow);
}

.herstellerImageContainer {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
}


.herstellerImage {
    max-height: 30px;
}

.cardHeaderTyp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: var(--header-line-height);
    justify-content: center;
    font-size: larger;
    gap: var(--header-space);
}

.cardHeaderTyp :nth-child(2) {
    color: var(--error);
    font-weight: 700;
    font-size: medium;
    align-self: flex-end;
}

/* Card - Inhalt */
.cardContent {
    display: flex;
    flex-direction: row;
    gap: var(--header-space);
    margin: 1em;
}

.errorDescription {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    justify-content: center;
}

.errorDescriptionItem:last-of-type {
    margin-top: auto;
}

.iconLine {
    display: flex;
    align-items: center;
    gap: 4px;
}

.iconLine svg {
    height: 18px;
    width: 18px;
}

.errorDescription p {
    margin: 0 0 0 calc(var(--header-space) + 18px);
}

.typImageWrapper {
    display: flex;
}

.typImage {
    max-width: 150px;
    margin-bottom: auto;
}

/* Scroll nach oben Button */
#scrollTopBtn {
    position: fixed;
    bottom: 50px;
    right: 15px;
    width: 40px;
    height: 40px;
    z-index: 999;
    opacity: 0;
    background-color: transparent;
    color: var(--button-bg);
    border: none;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
}

#scrollTopBtn.show {
    display: flex;
    opacity: 1;
}

#scrollTopBtn svg {
    height: 100%;
    width: 100%;
}

/* Benachrichtigungs Fenster */
#statusMessage {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
    box-shadow: 0 2px 6px var(--shadow);
    pointer-events: none;
}

#statusMessage.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
}

#statusMessage.success {
    background-color: #c8e6c9;
    color: var(--success);
    border: 1px solid var(--success);
}

#statusMessage.error {
    background-color: #ffcdd2;
    color: var(--error);
    border: 1px solid var(--error);
}

@media (max-width: 650px) {
    body{
        font-size: 0.9em;
    }

    .container {
        margin-top: 1em;
        min-height: fit-content;
    }

    .controls {
        display: grid;
        gap: 2px;
        grid-template-columns: 50px auto 50px;
        grid-template-rows: auto auto;
        grid-template-areas:
            "controls controls controls"
            "menue text logo";
    }

    .logoContainer {
        grid-area: logo;
    }

    .logoText {
        grid-area: text;
    }

    .headerRight {
        grid-area: menue;
        justify-self: left;
    }

    .headerCenter {
        grid-area: controls;
    }

    .btnResetFilters:hover {
        color: var(--fg);
    }

    #homeMenuContainer {
        flex-grow: 1;
        max-width: 100%;
        padding: 0;
        border: none;
        border-bottom: 1px solid var(--card-border);
    }

    .homeCard .cardContent {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--header-space);
    }

    select,
    input[type="text"] {
        padding: 0 calc(var(--header-line-height) / 4);
        font-size: 16px;
    }

    .card {
        min-width: 98vw;
        min-height: 100%;
        overflow: hidden;
    }

    .cardContent {
        display: flex;
        gap: 1em;
        margin: 1em var(--header-space);
        flex-direction: column-reverse;
    }

    .typImageWrapper {
        align-items: center;
        justify-content: center;
    }

    .cardContent {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0, 5em;
        margin: 1em 0.5em;
    }

    .errorDescription {
        gap: 1em;
    }

}