* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --bg: #f5f5f5;
    --bg2: rgba(254, 254, 254, 0.9);
    --fg: #505050;
    --card-bg: #fefefe;
    --border: #b1b1b1c4;
    --button: rgb(231, 231, 231);
    --hover: rgb(218, 218, 218);
    --highlight: rgb(160, 160, 160);
    --accent: rgb(255, 0, 0);
    --shadow: rgba(0, 0, 0, 0.1);
    --error: rgb(255, 48, 48);
    --success: #388e3c;
    --info: #0a5cb4b5;
    --bg-gradient: linear-gradient(176deg,
            rgba(183, 183, 183, 0.7) 0%,
            rgba(204, 204, 204, 0.4) 55%,
            var(--hover) 96%);
}


[data-theme="dark"] {
    --bg: #121212;
    --bg2: rgba(44, 44, 44, 0.9);
    --fg: #dfdfdf;
    --card-bg: #2c2c2c;
    --border: #7373739e;
    --button: #454545;
    --hover: rgb(90, 90, 90);
    --shadow: rgba(255, 255, 255, 0.2);
    --bg-gradient: linear-gradient(176deg,
            var(--hover) 0%,
            rgba(90, 90, 90, 0.4) 55%,
            var(--hover) 96%);
    --logo-symbol-color: var(--card-bg);
}

body {
    display: flex;
    flex-direction: column;
    background: var(--bg);


    color: var(--fg);
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    font-size: medium;
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
    top: var(--scroll-top);
    width: 100%;
    overflow-y: scroll;
}

@keyframes modal-open {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    vertical-align: middle;
}

.small {
    width: 18px;
    height: 18px;
    fill: currentColor;
    vertical-align: middle;
}

.transition-03 {
    transition: all 0.3s ease-in-out;
}

.transition-05 {
    transition: all 0.5s ease-in-out;
}

.highlight {
    color: var(--highlight);
}

.btn {
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 7px;
    color: var(--fg);
    background-color: var(--button);
    border: 1px solid currentColor;
    box-shadow: 0px 0px 3px 0px var(--shadow);
    -webkit-box-shadow: 0px 0px 3px 0px var(--shadow);
    -moz-box-shadow: 0px 0px 3px 0px var(--shadow);
    transition: all 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
    .btn:hover {
        background-color: var(--hover);
        border: 1px solid var(--highlight, currentColor);
        box-shadow: 1px 1px 3px 0px var(--shadow);
        -webkit-box-shadow: 1px 1px 3px 0px var(--shadow);
        -moz-box-shadow: 1px 1px 3px 0px var(--shadow);
    }

    #btnClearSearch:hover,
    #btnResetFilters:hover {
        transform: rotate(30deg) scale(100%);
    }

    .modalCloseBtn:hover,
    #speechCancelBtn:hover,
    .btnMenuToggle:hover,
    #voiceSearchBtn:hover {
        background-color: var(--hover);
    }

    .typImageWrapper:hover .typinfos {
        transform: translateY(0);
        opacity: 1;
    }

    .typImageWrapper:hover .imageOverlayText {
        opacity: 0;
        transform: translate(50px, 50px) rotate(-45deg);
    }

    .typImageWrapper.clickable:hover .typImageContainer {
        transform: scale(1.1) translateY(-12px);
    }
}

.btn svg {
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
}

/* Scroll nach oben Button */
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 15px;
    width: 40px;
    height: 40px;
    z-index: 999;
    background-color: transparent;
    color: var(--border);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}

#scrollTopBtn.show {
    display: flex;
}

#scrollTopBtn svg {
    height: 100%;
    width: 100%;
}

/* Benachrichtigungs Fenster */
#statusMessage {
    position: absolute;
    top: 100%;
    display: flex;
    height: fit-content;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    box-shadow: 0 2px 6px var(--shadow);
    pointer-events: none;
    justify-content: center;
    transform: translateY(-900%);
    transition: all 0.3s ease-out;
}

#statusMessage.show {
    transition: transform 0.3s ease-in;
    transition: all 0.3s ease-in;
    transform: translateY(0);
}

#statusMessage.success {
    transition: transform 0.3s ease-out;
    background-color: #c8e6c9;
    color: var(--success);
    border: 1px solid var(--success);
}

#statusMessage.error {
    transition: transform 0.3s ease-out;
    background-color: #ffcdd2;
    color: var(--error);
    border: 1px solid var(--error);
}

#statusMessage.info {
    transition: transform 0.3s ease-out;
    background-color: #cde5ff;
    color: var(--info);
    border: 1px solid var(--info);
}

/* Kopfzeile */
header {
    position: sticky;
    inset: 0;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
}

header.hide {
    transform: translateY(-100%);
}

.headerContent {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background: var(--bg);
    padding: 3px;
    z-index: 500;
}

.logo-sm {
    display: flex;
    width: 120px;
    margin-right: auto;
    justify-content: left;
    cursor: pointer;
}

.logo-sm svg {
    max-height: 50px;
    width: 120px;
}

/* Eingaben */
.InputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}

.searchContainer {
    display: flex;
    flex: 1 1 30%;
    width: auto;
    min-width: fit-content;
    height: 40px;
    border: 1px solid var(--border);
    border-radius: 20px;
    background: var(--card-bg);
    overflow: visible;
    cursor: auto;
    align-items: center;
    box-sizing: content-box;
}

.autocomplete-wrapper {
    position: relative;
    display: flex;
    width: 100%;
}

.searchBox {
    max-width: 255px;
}

#searchInput,
#herstellerFilter,
#typFilter {
    border-bottom: 0px solid var(--border);
    border-top: 0px solid var(--border);
}

#searchInput,
#searchHint,
#typFilter,
#herstellerFilter {
    font-family: inherit;
    font-size: .9rem;
    padding-left: 1rem;
    padding-right: .5rem;
    height: 40px;
    background-color: var(--card-bg);
    color: var(--fg);
}


#searchInput,
#searchHint {
    padding: 0;
    width: 100%;
}

#searchHint {
    position: absolute;
    inset: 0;
    color: var(--hover);
    pointer-events: none;
    z-index: 0;
}

#searchInput {
    position: relative;
    background: transparent;
    z-index: 1;
}

#icon-search,
#herstellerFilter {
    border-bottom-left-radius: 20.8px;
    border-top-left-radius: 20.8px;
}

.icon-search {
    display: flex;
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
    justify-content: center;
    align-items: center;
}

#voiceSearchBtn,
.voice-btn-modal,
#speechCancelBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--fg);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 2;
}


.icon-mic {
    height: 16px;
    width: 10.5px;
}

.icon-stop {
    width: 20px;
    height: 20px;
}

.icon-search svg {
    max-height: 18px;
    max-width: 19px;
    opacity: 0.5;
}

/* Puls-Effekt bei aktiver Aufnahme */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 0 18px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

/* Standard: nur Mikrofon sichtbar */
.voice-btn-modal .speech-modal__icon-stop {
    display: none;
}

.voice-btn-modal.listening .speech-modal__icon-mic {
    display: none;
}

.voice-btn-modal.listening .speech-modal__icon-stop {
    display: inline;
}

.voice-disabled {
    opacity: 0.7;
    color: #888;
    background: transparent;
}

.voice-btn-modal.listening {
    background-color: var(--error);
    color: white;
    animation: pulse 1s infinite;
}

/* small style for modal stop btn */
.voice-btn-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    margin-right: 0.6rem;
    background-color: var(--hover, transparent);
    transition: background .3s linear;
}

.speech-modal__icon-stop {
    width: 35px;
    height: 35px;
}

.speech-modal__icon-mic {
    width: 19px;
    height: 25px;
}

.speech-modal__icon-x {
    width: 16px;
    height: 16px;
}

.speech-modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    font-family: inherit;
}

.speech-modal * {
    padding: 0;
    margin: 0;
}

.speech-modal.hidden {
    display: none;
}

.speech-modal__backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.speech-modal__content {
    position: relative;
    margin: 0 auto;
    top: 10vh;
    width: min(560px, 92%);
    background: var(--card-bg, #fff);
    color: var(--fg, #222);
    border-radius: 12px;
    padding: .75rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    z-index: 2;
    text-align: center;
}

/* Title and text */
.speech-modal__header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 5rem;
    margin-left: .5rem;
}

.speech-modal__title {
    display: inline-flex;
    flex: 1;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: left;
    font-size: 1.1rem;
}

.speech-text {
    min-height: 3.2rem;
    margin: 0.25rem;
    padding: 0.25rem;
    font-size: 1rem;
    line-height: 1.3;
    color: var(--fg, #222);
    white-space: pre-line;
}

.speech-status {
    min-height: 1.2rem;
    margin: 0.5rem;
    color: var(--fg);
    font-size: smaller;
}

/* Visual */
.speech-visual {
    width: 100px;
    height: 100px;
    margin: .5rem auto;
}

.speech-visual__svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.speech-visual__circle {
    fill: color-mix(in hsl, var(--error), transparent 70%);
    scale: 1;
    opacity: 0;
    transform-origin: 50% 50%;
    transition: transform 220ms linear, opacity 200ms linear;
    filter: drop-shadow(0 0px 2rem var(--error));
}

/* Controls */
.speech-modal__controls {
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    margin-top: .5rem;
}

.btn--danger {
    background: #e53935;
    color: white;
}

.btn--secondary {
    background: #efefef;
    color: #111;
    justify-self: end;

}

/* small responsive tweak */
@media (max-width:420px) {
    .speech-visual {
        width: 84px;
        height: 84px;
    }

    .speech-modal__content {
        padding: 1rem;
    }
}

#btnClearSearch,
#btnResetFilters {
    height: 30px;
    width: 30px;
    aspect-ratio: 1;
    background-color: var(--card-bg);
    border-radius: 50%;
    color: var(--error);
    border: none;
    box-shadow: none;
}

#btnClearSearch,
#btnResetFilters,
#btnClearSearch:disabled:hover,
#btnResetFilters:disabled:hover {
    transform: rotate(0deg) scale(80%);
}

#btnClearSearch svg,
#btnResetFilters svg {
    width: 20px;
}

button:disabled svg {
    opacity: 0.2;
    color: var(--fg);
    transition: all 0.2s ease-out;
}

button svg {
    transition: all 0.2s ease-in;
}

button:disabled {
    cursor: unset;
}

#herstellerFilter,
#typFilter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    flex-basis: 50%;
}

#typFilter {
    border-left: 1px solid var(--bg);
}

select option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--card-bg);
}

select option:disabled {
    color: #6a6a6a5e;
    background-color: #00000000;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select option:checked,
select option:hover {
    background-color: var(--hover-bg) !important;
}

select:focus,
button {
    cursor: pointer;
    outline: none;
}

input:focus {
    outline: none;
}

#trefferAnzahl {
    display: flex;
    width: 120px;
    height: 30px;
    text-align: left;
    margin-right: auto;
    align-items: center;
    color: var(--fg);
}

/* Hauptfenster */
.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 2px;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

/* Card */
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    background: var(--card-bg);
    border: 2px solid var(--border);
    border-radius: 1em;
    margin-bottom: 1em;
    width: 90vw;
    max-width: 1000px;
    min-width: 350px;
    min-height: 250px;
    overflow: hidden;
    box-shadow: 1px 1px 20px 0px color-mix(in srgb, var(--highlight, --fg) 10%, transparent);
    animation: fadeIn 0.5s ease-in
}

/* Card - Kopfzeile */
.cardheader {
    display: flex;
    flex-wrap: nowrap;
    min-height: 40px;
    background: var(--bg-gradient);
    align-items: center;
    border-bottom: 1px solid var(--border);
    box-shadow: 0 1px 4px var(--shadow);
    padding: 2px;
    margin-bottom: .5rem;
}

.cardHeaderContent {
    flex: 1;
    height: 30px;
    margin: 0 0.3rem;
}

.btnMenuToggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: currentColor;
    background-color: transparent;
    box-shadow: none;
    border: none;
    overflow: hidden;
}

.herstellerImageContainer {
    margin: .3rem .2rem .2rem .5rem;
    height: 30px;
    max-width: 120px;
    display: inline-block;
    overflow: hidden;
}

.herstellerImage {
    height: 100%;
    width: fit-content;
    display: block;
    max-width: 100%;
}

.cardHeaderTyp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.2rem;
    justify-content: space-between;
}

.cardHeaderTyp :nth-child(2) {
    display: flex;
    background-color: white;
    border: 1px solid var(--error);
    border-radius: 100vh;
    padding: 0 .5rem;
    color: var(--error);
    font-weight: 700;
    font-size: small;
    align-items: center;
    margin-left: auto;
}


#homeMenuContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 250px;
    height: 100%;
    min-height: fit-content;
    display: flex;
    border: 1px solid var(--border);
    background: var(--bg2);
    justify-content: space-between;
    align-items: stretch;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
}

.version {
    font-size: small;
    font-weight: 500;
}

.versionContainer {
    display: flex;
    justify-content: right;
    gap: 1rem;
    padding: 0.1rem 0.7rem;
    background-color: var(--card-bg);
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.menu button,
.updateInfo button {
    display: flex;
    position: relative;
    height: 35px;
    margin: 0.25rem;
    border-radius: 0.5rem;
    padding: 0 35px;
}


.hide {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.show {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
}

.cardContent {
    position: relative;
    display: flex;
    min-height: auto;
}


.homeContent {
    display: flex;
    padding: 1rem;
    width: 100%;
}

.logo-box {
    display: flex;
    flex-basis: 40%;
    align-items: flex-start;
    justify-content: center;
}

.homeText {
    flex-basis: 50%;
    padding: 1rem;
    margin: auto;
}

.typImageWrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    max-width: 300px;
    height: fit-content;
    padding: 1.5rem;
    padding-bottom: 0;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.typImage {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    overflow: hidden;
    z-index: 1;
    background: transparent;
}

.errorDescription {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    margin: 0 .5rem;
}

.descriptionItemGrid {
    display: grid;
    grid-template-columns: 26px auto;
    gap: 0.5rem;
}

.errorDescriptionItem {
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    max-width: fit-content;

    & ol,
    ul {
        margin-left: 1.4rem;
    }
}

.iconLine {
    display: flex;
    align-items: center;
    gap: 8px;
}

.iconLine .icon {
    margin-bottom: auto;
    margin-top: 4px;
}

.iconLine span {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.linkItem {
    margin-top: auto;
}

.card h5,
.card h4,
.card h3,
.card a {
    margin: 3px 0;
}


.detailsContainer {
    font-size: 0.95em;
    margin: 1rem 0.5rem;
}

.detailsContainer h1,
h2,
h3 {
    margin: 0;
    padding: 0.5em 0 0 0.2em;
}

.detailsContainer p {
    margin-left: 0.5em;
}

.detailsContainer ul {
    margin-left: 1.7em;
    padding: 0 0 0.2em 0;
}

.detailsContainer h1 {
    font-size: 1.4em;
    text-align: center;
}

.detailsContainer h2 {
    font-size: 1.2em;
}

.detailsContainer h3 {
    font-size: 1.1em;
}

.updateInfo {
    display: flex;
    flex-wrap: wrap;
    min-height: fit-content;
    background: rgb(99, 156, 255);
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: 0.5rem;
    color: #ffffff;
    transition: all .3s ease;
}

.updateInfo p {
    font-weight: 600;
}

.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: modal-open 500ms ease-in;
    transition: all .3s ease-in-out;
}

.modalHeader {
    position: sticky;
    display: flex;
    top: 0;
    background: var(--bg-gradient);
    justify-content: space-between;
    padding-left: 1rem;
}

.modalContent {
    display: flex;
    flex-direction: column;
    background: var(--card-bg, #fff);
    color: var(--fg, #000);
    max-width: 950px;
    max-height: 90%;
    border: 1px solid var(--border);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    scrollbar-color: var(--border) transparent;
}

.modalContent::-webkit-scrollbar-track {
    background-color: transparent;
}

.modalCloseBtn {
    display: flex;
    background: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0.2rem;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    cursor: pointer;
    color: var(--error);
}

.modalTitle {
    font-size: 1.5rem;
}

.modalHtmlContent {
    flex: 1;
    margin-bottom: 0.1rem;
    overflow: auto;
    padding: 0 1rem;
}

.typImageContainer {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 200px;
    height: fit-content;
    justify-content: center;
    transition: all .3s ease-in-out;
    overflow: hidden;
    padding: .25rem;
}

.typImageContainer .imageOverlayText {
    position: absolute;
    bottom: 28px;
    right: -60px;
    width: 200px;
    padding: .1rem;
    background: rgb(66 192 227);
    color: #ffffff;
    font-size: 1.1em;
    text-align: center;
    pointer-events: none;
    font-weight: 500;
    z-index: 2;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: rotate(-45deg);
}

.typinfos button {
    height: 25px;
    border-radius: 100vh;
}

.typinfos {
    position: relative;
    display: flex;
    gap: .4rem;
    width: 220px;
    flex-direction: column;
    transform: translateY(-115%) scale(.7);
    opacity: 0;
    transition: all .3s ease, opacity .3s ease-in-out;
}

/* Splash-Screen Hintergrund */
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    animation: fadeOut_ 0.5s ease-out forwards;
    animation-delay: 2.2s;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    z-index: 9999;
}

#splash-logo {
    width: 400px;
    height: 122px;
    transform-origin: center;
    overflow: visible;
    animation: fadeIn 0.6s ease-in;
    color: var(--highlight);
    animation: si1 .8s ease-in-out;
}

.loading-text {
    display: flex;
    font-weight: 800;
}

.loading-text span {
    animation: opacity 2s ease infinite alternate;
    color: var(--fg);
}

.loading-text span:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-text span:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-text span:nth-child(4) {
    animation-delay: 0.3s;
}

.loading-text span:nth-child(5) {
    width: .3rem;
}

.loading-text span:nth-child(6) {
    animation-delay: 0.4s;
}

.loading-text span:nth-child(7) {
    animation-delay: 0.5s;
}

.loading-text span:nth-child(8) {
    animation-delay: 0.6s;
}

.loading-text span:nth-child(9) {
    animation-delay: 0.7s;
}

.loading-text span:nth-child(10) {
    animation-delay: 0.8s;
}

.loading-text span:nth-child(11) {
    animation-delay: 0.9s;
}

.loading-text span:nth-child(12) {
    animation-delay: 1s;
}

.loading-text span:nth-child(13) {
    animation-delay: 1.1s;
}

.loading-text span:nth-child(14) {
    animation-delay: 1.2s;
}

.loading-text span:nth-child(15) {
    animation-delay: 1.3s;
}

#app {
    animation: fadeIn 0.7s ease-in;
    opacity: 1;
}


@keyframes si1 {

    0% {
        opacity: 0;
        scale: 1.8;
        rotate: 70deg;
    }

    60% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0.5;
    }
}

@keyframes animate {
    from {
        font-size: .5em
    }

    to {
        font-size: 1em
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes rotation {
    from {
        transform: rotate(-0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media (max-width: 650px) {

    body {
        font-size: .9rem;
    }

    /* Benachrichtigungs Fenster */
    #statusMessage {
        position: absolute;
        top: 100%;
        border-radius: 0.5rem;
        text-align: center;
    }

    #statusMessage p {
        margin: 0.25rem;
    }

    .container {
        display: flex;
        min-height: fit-content;
        margin: 0;
        padding: 0 0.125rem;
    }

    header {
        display: flex;
        flex-direction: column;
        background: var(--bg);
        gap: 0.25rem;
    }

    .headerContent {
        display: flex;
        flex-direction: column;
    }

    .logo-sm {
        display: none;
    }

    .logo-box {
        margin: .5rem;
    }

    .InputContainer,
    .searchContainer {
        display: flex;
        flex-basis: 100%;
        width: 100%;
    }

    .InputContainer {
        gap: 0.25rem;
    }

    .searchContainer {
        border-radius: 0.5rem;
    }

    .searchBox {
        max-width: none;
    }

    #trefferAnzahl {
        width: 120px;
        height: fit-content;
        justify-content: center;
        margin: 0;
        font-size: medium;
    }

    #btnClearSearch,
    #btnResetFilters {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }

    #searchInput,
    #searchHint,
    #herstellerFilter {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }

    #searchInput,
    #searchHint,
    #typFilter,
    #herstellerFilter {
        font-family: inherit;
        font-size: 3.3vw;
        padding-right: .5rem;
        height: 40px;
        color: var(--fg);
    }

    #searchHint {
        position: absolute;
        inset: 0;
        color: var(--hover);
        pointer-events: none;
        z-index: 0;
    }

    #voiceSearchBtn {
        border-radius: .5rem;
        width: 30px;
        height: 30px;
        font-size: 18px;
        z-index: 1;
    }

    .card {
        margin: 0 0.1rem;
        width: 99.5%;
        border-radius: 0.5rem;
    }


    .homeCard .cardContent {
        justify-content: center;
    }

    .homeCard {
        position: absolute;
        margin-top: 1rem;
        top: 50%;
        transform: translate(0, -50%);
    }

    .cardContent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0.5em;
    }

    .homeContent {
        flex-direction: column;
        padding: 0.3rem;
    }

    #homeMenuContainer {
        display: flex;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .updateInfo {
        justify-content: center;
        text-align: center;
        padding: 0.5rem;
        gap: 0.25rem;
    }

    .updateInfo button {
        border-radius: 8px;
    }

    .modalHtmlContent {
        padding: 0.25rem;
    }

    .typImageWrapper.clickable {
        flex-direction: row;
        max-width: 100%;
        padding: .5rem;
        padding-bottom: 0;
        margin-top: 0;
    }

    .typImageContainer,
    .typinfos {
        flex-basis: 50%;
    }

    .typImageContainer {
        padding-bottom: 0;
        max-width: 150px;
    }

    .typImageWrapper {
        padding-top: .125rem;
    }

    .typImageWrapper:hover {
        transform: scale(1) translateY(0);
    }

    .imageOverlayText {
        display: none;
    }

    .typinfos .btn {
        border-radius: .25rem;
        margin: .1rem;
    }

    .typinfos {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    .errorDescription {
        margin: 0;
    }

    .errorDescriptionItem {
        max-width: 100%;
        margin: .25rem;
    }

    .detailsContainer p {
        margin-left: 0;
    }


    .descriptionItemGrid {
        gap: .1rem;
    }

    .errorDescriptionItem {

        & ol,
        ul {
            margin-left: .1rem;
        }
    }

    .btn:active {
        background-color: var(--hover);
        border: 1px solid var(--highlight, currentColor);
        box-shadow: 1px 1px 3px 0px var(--shadow);
        -webkit-box-shadow: 1px 1px 3px 0px var(--shadow);
        -moz-box-shadow: 1px 1px 3px 0px var(--shadow);
    }


    #btnClearSearch:active,
    #btnResetFilters:active {
        transform: rotate(30deg) scale(100%);
    }

    .modalCloseBtn:active,
    #speechCancelBtn:active,
    .btnMenuToggle:active,
    #voiceSearchBtn:active {
        background-color: var(--hover);
    }

    .touchBtn.tapped {
        background-color: #ff0000;
        transform: scale(0.97);
    }
}